<%- model_class = ServedMeal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:meal) %></th>
      <th><%= model_class.human_attribute_name(:served_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @served_meals.each do |served_meal| %>
      <tr>
        <td><%= link_to served_meal.meals.map{|m| m.name}.join(', '), served_meal_path(served_meal) %></td>
        <td><%= served_meal.served_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_served_meal_path(served_meal), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      served_meal_path(served_meal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_served_meal_path,
            :class => 'btn btn-primary' %>
