<h1>Listing meals</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.user.name %></td>
    <td><%= meal.name %></td>
    <td><%= link_to 'Show', meal %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id='pagination_container'>
  <%= paginate @meals %>
</div>

<br />

<%= link_to 'New Meal', new_meal_path, :class => 'button' %>
<%= link_to 'Cloud Search', home_path %>


