<h1>Listing meals</h1>

<table class='table table-striped' width='100%'>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.user.name %></td>
    <td><%= link_to meal.name, meal %></td>
    <td>
      <%= link_to 'Edit', edit_meal_path(meal), :class => 'btn btn-small'  %>
      <%= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'  %>
    </td>
  </tr>
<% end %>
</table>

<div id='pagination_container'>
  <%= paginate @meals %>
</div>

<br />

<%= link_to 'New Meal', new_meal_path, :class => 'btn btn-primary' %>


